body {
    color: white;
    background-color: black;
    font-family: 'VT323', monospace;
    text-shadow: 0 0 3px #fff;
    font-size: 20pt;
    height: 100vh;
    background-image: linear-gradient(
        110deg,
        black,
        black 80%,
        red 80%,
        red 82%,
        #fffe03 82%,
        #fffe03 84%,
        #01ff01 84%,
        #01ff01 86%,
        #07fcff 86%,
        #07fcff 88%,
        black 88%
    );

    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom right;

}

* {
    box-sizing: border-box;
}

content {
    display: block;
    max-width: 1000px;
    margin: auto;
}

code {
    font-family: 'VT323', monospace;
    text-shadow: 0 0 3px #fff;
}

#monitor {
    display: grid;
    background-color: #222;
    grid-template-columns: 80% auto;
    grid-template-rows: 40% 60%;
    border: 8px solid grey;
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    #monitor {
        grid-template-columns: 50% auto;
    }
}

#output {
    grid-column: 1;
    grid-row: 1;
}

#output textarea {
    padding: 1em;
    border: 2px solid white;
    min-height: 100%;
    width: 100%;
    background-color: #222;
    color: white;
}

#instructions {
    display: grid;
    width: 100%;
    grid-row: 2;
    grid-column: 1;
    grid-template-rows: 30% 40px auto;
    justify-items: center;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#opcode {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 1em;
}

.arrow-down {
    grid-column: 1;
    grid-row: 2;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #333;
}

#destination{
    width: 100%;
    grid-column: 1;
    grid-row: 3;
    padding: 1em;
    background: #333;
    border-top: 1px dashed white;
}

.arrow-up {
    grid-column: 2;
    grid-row: 2;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #444;
}

#source{
    width: 100%;
    border-top: 1px dashed white;
    grid-column: 2;
    grid-row: 3;
    border-left: 1px dashed white;
    padding: 1em;
    background: #444;
}

#registers {
    grid-column: 2;
    grid-row: 1 / span 2;
    text-align: center;
}

#registers table {
    width: 100%;
    border-collapse: collapse;
}

#registers th, #registers td {
    border: 1px solid white;
    padding: .5em;
}

#buttons {
    float: left;
}

#buttons button, #buttons select {
    padding: 1em;
    margin: 1em;
    background-color: #555;
    color: white;
    border-width: 3px;
    border-style: outset;
    border-color: #444;
}

#memory {
    float: left;
}

#memory pre {
    font-size: 10pt;
    color: black;
    background-image:         linear-gradient(#f9f8e8 50%, #caefbf 50%);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 4.5em 4.5em;
    text-shadow: 0;
}

#memory button {
    margin: 1em;
    padding: 1em;
    background-color: red;
    color: white;
    border-color: #c00;
    min-width: 10px;
}

/* #buttons { */
/*     grid-column: 3; */
/*     grid-row-start: 1; */
/*     grid-row-end: 2; */
/* } */

